.dNone {
    display: none;
}

.line {
    position: relative;

    width: 25px;
    height: 10px;

    margin: 50px 0;
    padding: 0;

    background: rgb(237, 123, 123);
    background: linear-gradient(
        90deg,
        rgba(237, 123, 123, 1) 0%,
        rgba(235, 232, 143, 1) 100%
    );

    border-radius: 30px;
}

.unerline {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 300px;
    height: 10px;

    border-radius: 30px;
    border: 1px solid #e1e1e1;
}

.runner {
    position: absolute;
    top: -44px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.cup {
    position: absolute;
    left: 300px;
    top: -44px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 5px;
    height: 22px;

    background-color: #fff;

    border-radius: 40px;
    border: 2px solid #e24136;
}

.percent {
    margin: 25px 0 0 0;
    color: #3bbc2d;
}

/* Новые сообщения и рейтиинг */
.ratingAndMessage {
    margin: 0 0 0 0;
    padding: 6px 18px 18px 18px;

    /* align-items: flex-start; */

    -webkit-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);

    border-radius: 10px;
}

.ratingInfoWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.generalStyleRatingMessage {
    padding: 10px 0;

    border-radius: 10px;
}

.isHaveMessage {
    font-size: 14px;
    color: #e1e1e1;
    font-weight: 700;
}

.isHaveMessageTrue {
    color: #3bbc2d;
}

.newMessageColumn {
    /* background-color: red; */
    width: 45%;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}

.ratingColumn {
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    -webkit-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
}

.ratingColumn span {
    margin-left: 5px;

    font-size: 17px;
    color: #3bbc2d;
    font-weight: 700;
}

.fieldMessages {
    padding: 10px 20px;

    background-color: antiquewhite;

    border-radius: 10px;

    -webkit-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
}

.messageWrapper {
    margin-top: 12px;
}

.messageHide {
    display: none;
}

.messageVisible {
    display: block;
}

/* Поле для новых сообщений messageField */
.messageField {
    display: none;
}

.messageWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.messageTitle {
    margin: 0;

    color: #ed857d;
    font-size: 16px;
    font-weight: 600;
}
.messageBody {
    margin: 0;

    color: #3bbc2d;
    font-size: 16px;
    font-weight: 600;
}

.arrowDown {
}
.arrowUp {
    transform: rotate(180deg);
}

/* МАЛЬЧИК и ДИНАМИКА ВЕСА */
.avatarAndweightDynamics {
    position: relative;

    width: 100%;
}
.avatarWrapper {
    display: flex;
    justify-content: center;

    margin-top: 10px;
}

.avatarWrapper img {
    width: 240px;
}

.weightDynamics {
    position: absolute;
    bottom: -20px;
    left: 0;

    width: 100%;

    padding: 20px 0;

    background-color: #fff;

    -webkit-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);

    border-radius: 30px;
}

.weightDynamics h5 {
    margin: 0 30px;

    font-size: 22px;
    color: #3bbc2d;
}

.graphRow {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;

    padding: 0 30px;
}

.graphMonthWrapper,
.graphLineWrapper,
.graphCountWrapper {
    display: flex;
    align-items: center;
}

.graphCount,
.graphMonth {
    color: #3bbc2d;
    font-size: 16px;
}

.graphCountWrapper {
    width: 5%;
}
.graphMonthWrapper,
.graphLineWrapper {
    width: 35%;
}

.graphLine {
    width: 100%;
    height: 12px;

    background-color: #3bbc2d;

    border-radius: 5px;
}

/* СТАТИСТИКА */

.analytics {
    width: 100%;

    margin: 50px 0;
}

.analyticsWrapper {
    padding: 0 30px;
}

.analyticsRow {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
}

.analyticsFieldOk {
    color: #3bbc2d;
    background-color: #e0fcdd;
}
.analyticsFieldAttention {
    color: #fff;
    background-color: #f6b6b6;
}

.analyticsMetrica {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 45%;
    height: 80px;

    border-radius: 6px;
}

.analyticsFieldTitle {
    font-size: 13px;
}

.analyticsFieldValue {
    font-size: 15px;
    font-weight: 700;
}

.analyticsFieldIcon {
    width: 19px;
}

/* КРУГ АКТИВНОСТИ С ПРОЦЕНТОМ ВНУТРИ */
.activityChartAndInfo {
    background-color: #fff;

    padding: 20px 30px;

    -webkit-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);

    border-radius: 30px;
}

.dcdcfc {
    transform: rotate(180deg);
}

.activityChartWrapper {
    display: flex;
    justify-content: center;

    transform: rotate(-180deg);
}
.activityChart {
    width: 120px;
    height: 160px;

    position: relative;

    border: 4px solid #3bbc2d;
    border-radius: 10px;
}

.activityChartBg {
    width: 100%;
    height: 50%;

    position: relative;

    background-color: #e0fcdd;
}

.activityChartTitleCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-180deg);
}

.activityChartTitle {
    color: #3bbc2d;
    font-size: 15px;
}

.activityChartCount {
    font-size: 30px;
    color: #3bbc2d;
    font-weight: 700;
}

/* START infoActivityWrapper */
.infoActivityRow {
    display: flex;

    margin-top: 10px;
}
.infoActivityIconAndtitle,
.infoActivityValueWrapper {
    display: flex;
    align-items: center;
}

.infoActivityIconAndtitle {
    width: 78%;
}
.infoActivityValueWrapper {
    width: 27%;
}

.infoActivityTitle {
    margin-left: 10px;

    color: #3bbc2d;
    font-size: 20px;
    font-weight: 700;
}

.infoActivityValue {
    font-size: 20px;
    color: #3bbc2d;
}

/* ======================= */
/* FOOD DIARY */
/* ======================= */

.foodDiaryWrapper {
}

.foodDiaryElem {
    width: 100%;
    height: 200px;

    margin-top: 10px;
    padding-top: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    background-color: #fff;

    -webkit-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);

    border-radius: 15px;
}

.columnSearch {
    width: 65%;
}

.columnData {
    width: 20%;
}

.columnDataHeadline {
    margin-top: 0;

    font-weight: 400;
    font-size: 20px;
    color: #3bbc2d;
}

.foodDiaryHeaderWrapper {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.foodDiaryHeader {
    margin: 0 10px 0 0;

    font-size: 28px;
    color: #3bbc2d;
    font-weight: 700;
}

.foodDiaryWhat {
    width: 26px;
    height: 26px;
}

/* SEARCH */
.wrapperSearch {
    display: flex;

    margin: 0 0 10px 0;
}

.writingSearch {
    position: relative;

    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-right: 7px;
    padding: 0 2px;

    border: 2px solid #3bbc2d;
    border-radius: 5px;
}

.fieldSelectProduct {
    position: absolute;
    top: 50px;
    left: 3px;

    width: 200px;
    height: 100px;

    padding: 15px;

    overflow-y: scroll;

    border-radius: 5px;
    border: 2px solid #3bbc2d;

    background-color: #defadd;

    -webkit-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 7px 12px 0px rgba(34, 60, 80, 0.2);
}

.listProductWrapper {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

.itemProductName {
    display: inline-block;

    margin-bottom: 7px;
    padding: 5px 10px 5px 5px;

    font-size: 13px;
    font-weight: 700;

    border-radius: 5px;
}

.selectItemProductText {
    color: #fff;

    background-color: #3bbc2d;
}

.notSelectItemProductText {
    color: #3bbc2d;

    background-color: #fff;
}

.seelectProduct {
    margin-bottom: 7px;
}

.inputSearch {
    width: 80%;

    color: #000;

    border: none;
    outline: none;
    box-shadow: none;
}

.inputSearch:hover,
.inputSearch:active,
.inputSearch:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

/* listsSelectFood */
.listsSelectFood {
    height: 90px;

    overflow-y: scroll;
}

.listFoodElem {
    display: inline-block;

    margin: 0 4px 4px 0;
    padding: 10px;

    background-color: #defadd;

    border-radius: 7px;
}

.nameFood {
    margin-left: 10px;

    color: #3bbc2d;
}

/* .columnData */

.nutrients {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.nutrientName {
    margin-bottom: 5px;

    color: #3bbc2d;
    font-weight: 700;
    font-size: 10px;
}

.nutrientWeight {
    color: #3bbc2d;
    font-size: 15px;

}
